<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/clubs_page.css' />
    <script type="module" src = "/javascripts/header.js"></script>
  </head>
  <body>
    <header>

      <a>
          <img class = Logo id = "returnmain" src="/stylesheets/Logo.png" alt="Logo">
      </a>
        <!-- <span class = "Logo"></span> -->
        <div class = "header_container">
          <div class = header_word>
            <a class = heada href='/clubs'>
              <p>サークル一覧</p>
            </a> 
          </div>
          <div id=signin class = header_word>
            <a   class = heada href='/signin'>
              <p>ログイン</p>
            </a>
            <!-- <input class = "search_box"> -->
             <!-- <div class = "search_icon"> -->
               <!-- <img src = "/public/stylesheets/search_icon.png"> -->
             <!-- </div>  -->
            <!-- </input> -->
          </div>
          <div  id = signup class = header_word>
            <a   class = heada href='/signup'>
              <p>新規登録</p>
            </a>
          </div>
        </div>
        
      </header>

    <div class = "space"></div>

    <div class="box22">
      <h1>サークル一覧</h1>
    </div>
    <!-- <a class = "return" href='http://localhost:3000'>メインページに戻る</a> -->

    <div class="circle_box">
    <div class="tag">

    <div class="circle__">
    <% clubs.forEach((club) => { %>
      <div class="circle_button">
      <a class ="circle" href='/detail/<%= club.id %>'>
        <img class= "circle_icon"  src= "<%= club.image %>">
      </a>
      <h1 class="name"><%= club.name %></h1>
    </div>
      <% }) %>
    </div>



    <!--<table>
      <div class="container_circle">
        <div class = "information">
          <% clubs.forEach((club) => { %>
          <tr>
            <td>
              <a class ="circle" href='/detail/<%= club.id %>'>
                <img class= "circle_icon"  src= "<%= club.image %>">
              </a>
              <h1 class="name"><%= club.name %></h1>
              
            </td>
          <% }) %>
          </tr> 

           <tr>
            <td>
              <a class ="circle" href='/detail'>
                <img class= "circle_icon"  src="/stylesheets/sports_tennis_woman.png">
              </a>
              <h1 class="name">サークル名</h1>
              <p class="activity">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            </td>

            <td>
              <a class ="circle" href='/detail'>
                <img class= "circle_icon"  src="/stylesheets/sports_tennis_woman.png">
              </a>
              <h1 class="name">サークル名</h1>
              <p class="activity">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            </td>

            <td>
              <a class ="circle" href='/detail'>
                <img class= "circle_icon"  src="/stylesheets/sports_tennis_woman.png">
              </a>
              <h1 class="name">サークル名</h1>
              <p class="activity">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            </td>
            
          </tr> -->
          
        </div>
      </div>
    </table>

  </div>

    <!-- <table>
      <tr>
        <th>サークル名</th>
        <th>活動内容</th>
        <th>Check</th>
      </tr>
      <tr class= "list">
        <td class="icon A">男子テニス部</td>
        <td>男子テニス部です．（サークルが登録する）</td>
        <td class= "tag"><a class= "check" href="#">詳しく見る</a></td>
      </tr>
    </table> -->
  </body>
</html>
