<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel='stylesheet' href='/stylesheets/style_detail.css' />
    <script type="module" src="/javascripts/detail.js"></script>
  </head>
  <body>
    <header>
      <span class = "Logo"></span>
      <div class = "header_container">
        <div class = header_word>
          <a class = heada href='http://localhost:3000/clubs'>
            <p>サークル一覧</p>
          </a> 
        </div>
        <div id=signin class = header_word>
          <a  class = heada href='http://localhost:3000/signin'>
            <p>ログイン</p>
          </a>
          <!-- <input class = "search_box"> -->
           <!-- <div class = "search_icon"> -->
             <!-- <img src = "/public/stylesheets/search_icon.png"> -->
           <!-- </div>  -->
          <!-- </input> -->
        </div>
        <div class = header_word>
          <a  class = heada href='http://localhost:3000/signup'>
            <p>新規登録</p>
          </a>
        </div>
      </div>      
    </header>
    <div class = "space"></div>
    <div class="box22">
      <h1>サークル詳細</h1>
    </div>


    <div>
      <h1 class = center><%= club.name %></h1>
    </div>

    <img src="<%= club.image %>" alt="sports_tennis_woman.png" class="club_img" >


    <div class="iine">
      <button type="button" class="heart" id="likeButton" value="<%=club.id%>">♡</button>
      <a class="ii" href="/students">いいねしてる人一覧</a>
    </div>

    <BR>
    <BR>
      
    <h2 class = center>-#Tag-</h2>

    <% tags.forEach((tag) => { %>
    <ul>
      <li><%= tag.tag %></li>
    </ul>
    <% }) %>
    <BR>
      <BR>
    
    <h1 class = center>活動内容</h1>
    <div class = content>  
      <p><%= club.description %></p>
    </div>
    <BR>
    <BR>

      <h1 class = center>イベント一覧</h1>
  
      <table>
        <% events.forEach((event) => { %>
        <tr>
          <th>日時</th>
          <th>イベント</th>
          <th>イベント内容</th>
          <th>　</th>
        </tr>
        <tr class= "list">
          <td><%= event.date %></td>
          <td><%= event.name %></td>
          <td><%= event.description %></td>
          <td class= "tag"><a class= "check" href="http://localhost:3000/detail">イベントを予約</a></td>
          <% }) %>
        </table>
      
  
      <br>
      <br>

  </body>
</html>