
<!DOCTYPE html>
<html>
  <head>
    
    <title>マイページ</title>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/mypage_style.css' />
    <script type="module" src = "/javascripts/header.js"></script>
    <script type="module" src = "/javascripts/mypage.js"></script>

    <style>
      body {
       font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
      }

      h1 {
        font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
        width: 100%;
        height: 50px;
        background-color: rgb(255, 255, 255);
      }


    </style>
  </head>

  <body>
    <header>

    <a>
        <img class = Logo id = "returnmain" src="/stylesheets/Logo.png" alt="Logo">
    </a>
      <!-- <span class = "Logo"></span> -->
      <div class = "header_container">
        <div class = header_word>
          <a class = heada href='/clubs'>
            <p>サークル一覧</p>
          </a> 
        </div>
        <div id=signin class = header_word>
          <a   class = heada href='/signin'>
            <p>ログイン</p>
          </a>
          <!-- <input class = "search_box"> -->
           <!-- <div class = "search_icon"> -->
             <!-- <img src = "/public/stylesheets/search_icon.png"> -->
           <!-- </div>  -->
          <!-- </input> -->
        </div>
        <div  id = signup class = header_word>
          <a   class = heada href='/signup'>
            <p>新規登録</p>
          </a>
        </div>
      </div>
      
    </header>

    <div class = "space"></div>

    <p>&emsp;</p>
    <h1>&emsp;マイページ</h1>
    <div>&emsp;</div>

    <div class="container">
      <div class="status_container">  
        <img src="/stylesheets/Logo.png"> 
        <div class="inform_container">
          <p class="name"><%= student.name %></p>
          <p class="department"><%= student.department %></p>
          
          <div class="button_container">
            <a id="friends">友達一覧へ</a>
            <div>&emsp;</div>
            <a href="http://localhost:3000/edit" >編集</a>
          </div>

        </div>
      </div>
      <div>&emsp;</div>

      <h2>-#Tag-</h2>
      <% tags.forEach((tag) => { %>
      <ul>
        <li><%= tag %></li>
      </ul>
      <% }) %>

      <div>&emsp;</div>
      <div>&emsp;</div>
      <h2>-schedule-</h2>
  
      <table>
        <% events.forEach((event) => { %>
        <tr>
          <th>日付</th>
          <th>イベント名</th>
          <th>詳細</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td><%= event.date %></td>
          <td><%= event.name %></td>
          <td><%= event.description %></td>
          <td class= "tag"><a class= "check" href="/detail/<%= event.clubid %>">サークルページを見る</a></td>
          <td><input type="button" class="btn-border"value="cancel"></td>
        </tr>
   <% }) %>
      </table>

    </div>


    




    

    

    
  </body>
</html>